.learnWordsGame {

  &__box {
    display: flex;
    flex-wrap: wrap;
  }

  &__column {
    margin: 10px 10px;
  }

  &__elem {
    font-size: 16px;
    text-align: center;
    margin: 10px 0px;
    background: #e3e3ff;
  }

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  &__button {
    padding: 0.8rem 0.5rem;
    align-self: flex-start;
    flex-shrink: 0;
    color: #fff;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 0.99rem;
    background-color: #404497;
    border-radius: 50%;
    text-decoration: none;
    transition: 0.5s;
  }

  &__add {
    display: flex;
    justify-content: space-around;
  }

  &__input {
    
  }

  &__words {

    & div:nth-child(2n) {
      background-color: rgba(230, 230, 255, 1) ;
    }

  }

  &__modes {
    font-size: 32px;
    padding: 20px 0;
    text-align: center;
    background-color: wheat
  }

  &__mode {
    width: 100%
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    font-size: 20px;
  }

  &__learn {

  }
}