.memoSymb {

  &__kangi {
    margin: 200px auto 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid black;
    font-size: 150px;
    background-color: azure;
    width: 350px;
    height: 350px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    border-radius: 10px;
    margin: 40px 10vw;
  }
}