.hiragana {

  &__kangi {
    margin: 20px auto 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid black;
    font-size: 150px;
    background-color: azure;
    width: 260px;
    height: 260px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 25px;
    border-radius: 10px;
    margin: 40px 2vw;
  }

  &__answer {
    min-height: 45px;
    margin: 0 auto;
    width: 38vw;
    border: 1px solid #8e8e8e;
    background-color: #f0f0ff;
    text-align: center;
    font-size: 35px;
    border-radius: 13px;
  }
}